@media (min-width: 1024px) {

    
    .nav-row{
        display: none;
    }
    
    .nav-row-desk{
        display: flex;
        width: 80%;
        height: 62px;
        margin: 0 auto;        
        align-items: center;
        justify-content: space-between;
    }

    .ul_menu_lateral-desk{
        display: flex;
        list-style: none;
    }

    .ul_menu_lateral-desk li{
        padding: 0 20px;
    }

    .ul_menu_lateral-desk li a{
        color: var(--white-color);
        text-decoration: none;
        font-size: 18px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .search-container input{
        width: 250px;
    }

    .login-cont,
    .link-cont{
        height: 100%;
        display: grid;
        place-items: center;
    }

    
    
    .login-cont a{
        background: var(--login-button);
        border-radius: 10px;
        padding: 10px 15px;
        border: 1px solid var(--header-color);
        color: var(--white-color);
        font-weight: bold;
        text-decoration: none;
    }

    .user-logout-cont{
        background: var(--login-button);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: grid;
        place-items: center;
        transition: 0.2s all linear;
        cursor: pointer ;
    }

    .user-logout-cont:hover{
        background: #e20f1d;
        color: var(--white-color);
    }

    .login-cont a:hover{
        background: rgba(233, 233, 233, 0.2);
    }

    .footer-container{
        padding: 10px 100px;
    }

    .hidden-toggle{
        display: none;
    }

}