main{
    width: 100%;
    min-height: 100vh;
}

.main-container{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}
.welcome-section{
    width: 100%;
    height: 600px;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mySwiper .swiper-slide::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0) 100%);
}

.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.serie-name-cont{
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    transform: translateY(30px);
}

.serie-name{
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: bold;
    opacity: 0;
    transition: all 0.2s linear;
}

.swiper-slide:hover .serie-name{
    opacity: 1;
}

.serie-descr-cont{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0;
    width: 50%;
    text-align: start;
}

.more-info-button-cont{
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom:0;
    left: 0;
    transform: translateY(-50px);
    display: grid;
    place-items: center;
}

.more-info-button{
    width: 50%;
    height: 40px;
    background: var(--more-info-button);
    border: 1px solid var(--white-color);
    border-radius: 10px;
}
.more-info-button a{
    font-size: 18px;
    font-weight: bold;
    color: var(--black-color);
    text-decoration: none;
}
.swiper-pagination-bullet {
    background: var(--white-color);
    opacity: 1;
    width: 50px;
    border-radius: 10px;
}

.swiper-pagination-bullet-active {
    background: var(--more-info-button);
}
  
.anime-popular-section,
.user-anime-list-section{
    width: 100%;
    padding-top: 20px;
}

.anime-popular-container,
.user-animes-container{
    width: 90%;
    margin: 0 auto;
}

.anime-popular-row,
.anime-user-list-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.anime-popular-row span,
.anime-user-list-row span{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--header-color);
}

.popular-button-container,
.user-list-button-container{
    padding: 0 5px;
    border-radius: 20px;
    background: var(--view-all-button);
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.anime-popular-row a,
.user-animes-container a{
    text-decoration: none;
}

.plus-container{
    width: 20px;
    height: 20px;
    background: var(--plus-container);
    display: grid;
    place-items: center;
    margin-right: 2px;
    border-radius: 20px;
    color: var(--black-color);
}

.title-popular-button span ,
.title-user-list-button span{
    font-size: 1rem;
    color: var(--black-color);
}

.anime-popular-container hr,
.user-animes-container hr{
    margin-bottom: 10px ;
}
.mySwiperPopular,
.mySwiperUserList{
    margin-bottom: 10px;
}

.mySwiperPopular .swiper-slide,
.mySwiperUserList .swiper-slide{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mySwiperPopular .swiper-slide a,
.mySwiperUserList .swiper-slide a{
    width: 100%;
    padding-right: 10px;
}

.swiper-slide .image-swiper-cont{
    width: 100%;
    height: 250px;
    position: relative;
    object-fit: cover;

}

.image-swiper-cont img{
    width: 100%;
    height: 100%;
}

.image-swiper-cont::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0) 100%);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.image-swiper-cont:hover::after {
    opacity: 1;
}

.image-swiper-cont .anime-title-cont{
    width: 100%;
    text-align: center;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    margin-bottom: 2px;
    transition: opacity 0.3s ease;
}

.image-swiper-cont:hover .anime-title-cont{
    opacity: 1;
}

.anime-title-cont span{
    color: var(--white-color);
    font-size: 1.1rem;
    font-weight: bold;
}

.mySwiperPopular .swiper-button-next::after,
.mySwiperPopular .swiper-button-prev::after,
.mySwiperUserList .swiper-button-next::after,
.mySwiperUserList .swiper-button-prev::after{
    font-size: 2rem;
    color: var(--more-info-button);
    font-weight: bold;
}

.message-error{
    color: #611e1e;
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;
}

.anime-id{
    display: none;
}

.recommendation-random-section{
    width: 100%;
    padding-top: 20px;
}

.recommendation-random-container{
    width: 100%;
    position: relative;
}

.anime-background-image{
    width: 100%;
    height: 650px;
    position: relative;
}


.anime-background-image img{
    width: 100%;
    height: 100%;
    filter: blur(5px);
}

.anime-background-image::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

.anime-random-cont{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.anime-random-image-cont{
    width: 50%;
    padding-top: 20px;
}
.anime-random-image-cont img{
    width: 100%;
    height: 100%;
}


.random-anime-title,
.genres-cont,
.generate-cont{
    width: 100%; 
    text-align: center;
    padding-top: 30px;    
}

.random-anime-title span{
    font-size: 2rem;
    color: var(--white-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.genres-cont, 
.generate-cont{
    display: flex;
    justify-content: space-evenly;
}

.genre,
#more-info-anime{
    color: var(--white-color);
    background: var(--genres-button);
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 12px;
}

#generate-anime{
    color: var(--white-color);
    background: var(--random-generate-button);
    border-radius: 20px;
    font-size: 12px;
    padding: 15px 20px;
    border: 1px solid var(--menu-lateral-color);
    cursor: pointer;
}

#more-info-anime{
    padding: 15px 30px;
    border: 1px solid var(--menu-lateral-color);
    cursor: pointer;
}