main{
    width: 100%;
    min-height: 100vh;
}

.main-container{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.search-filter-section{
    width: 100%;
}

.bar-filter-cont{
    width: 90%;
    margin: 0 auto;
}

.search-bar-cont{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--header-color);
}

.search-input{
    margin: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px color var(--header-color);
    padding: 5px;
}

.genre-acordion-cont{
    width: 100%;
    padding-top: 20px;
}

.superior-acordion-row{
    background-color: #2C3E50;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%2387939A' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
    padding: 12px 0;
    display: flex;
    justify-content: center;
}

.genre-title{
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: bold;
}

.superior-acordion-row i{
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
    transform: rotateZ(270deg);
}

.inferior-acordion-row{
    width: 100%;
    background-color: #2C3E50;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%2387939A' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
    max-height: 0px;
    overflow: hidden;
    transition: .5s all linear;
}

.inferior-acordion-row.show-acordion{
    max-height: 1000px;
}

.ul_genres{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.li_genre{
    text-align: center;
    font-size: 0.9rem;
    color: var(--white-color);
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.li_genre:hover{
    color: #333;
}

.results-section{
    width: 100%;
}

.results-container{
    width: 100%;
}

.animes-result-cont{
    width: 90%;
    margin: 0 auto;

}

.result-message{
    padding: 10px 0;
}

.message{
    font-size: 1.5rem;
    color: var(--black-color);
    font-weight: bold;
}

.anime-result{
    width: 90%;
    margin: 20px auto;
    display: flex;
    background: #d9d9d9;
    border-radius: 5px;
    overflow: hidden;
}

.anime-image{
    width: 45%;
    height: auto;
}

.anime-image img{
    width: 100%;
    height: 100%;
}

.data-anime-cont{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.anime-id{
    display: none;
}

.anime-title-cont{
    width: 100%;
    text-align: center;
    padding: 5px;
}

.anime-title{
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--header-color);
}

.genres-cont{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.gen{
    background: var(--white-color);
    font-size: 0.7rem;
    border: 1px solid black;
    border-radius: 10px;
    padding: 3px 5px;
}

.anime-metadata{
    width: 100%;
    padding-left: 10px;
}

.studio-cont,
.source-cont, 
.demography-cont{
    padding: 4px 0;
}

.studio,
.source, 
.demography{
    font-size: 0.8rem;
    font-weight: bold;
}

.redirect-button-cont{
    width: 100%;
    text-align: center;
    padding: 5px;
}

.redirect-button{
    border-radius: 5px;
    border: none;
    background: var(--black-color);
    color: var(--white-color);
    padding: 5px 10px;
    font-weight: bold;
}

.results-controler{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.next_button,
.prev_button{
    width: 150px;
    padding: 3px 0;
    background: #f17416;
    font-size: 1.1rem;
    border: 1px solid black;
}

/*Crear responsive*/





